# CMake
build/
*.bin
*.exe
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Makefile

# C++
*.o
*.so
*.a
*.dll
*.lib

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# OS
.DS_Store

# IDE
.vscode/
.idea/
